
header a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #a0a0a0;
    padding-left: 2rem;

}
header a:after{
    content: "";
    position: absolute;
    background-color: #2175ad;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

header a:hover:after{
    width: 100%;
}

html{
    scroll-behavior: smooth;
}
.nav-link{
    text-decoration: none !important;
    
}


.header{
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: #463d3d;
}
#navscroll{
    background-color:#463d3d !important;

}

.painel1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #5c5151;
    background-image: linear-gradient(#463d3d, #5c5151);;
    background-size: cover;
    height: 94vh
}

.titulo{
    font-size: 80px;
    color: rgb(163, 165, 167);
}
.devtitulo{
    color:rgb(163, 165, 167);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.setaanimada{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



#seta{
    height: 7vh;
    
}

.botaolearn{
    margin-top: 5rem;
    color: rgb(163, 165, 167);;
}
.nav-item{
    background-color: #463d3d;
}

#icon{
    height: 40vh;
    border-radius: 100%;
}
.painel2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:#474141 ;
}
#titleprof{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#foto{
    margin-right: 2rem;
    margin-left: 0rem;
    height: 15vh;
    border-radius: 100%;
    box-shadow: 12px -6px rgb(54, 54, 54);
}

.textoprofile{
    display: flex;
    margin-bottom: 2rem;
}
.aboutme{
    display: flex;
    margin-bottom: 2rem;
}

.textabout{
    text-align: center;
    margin-left: 2rem;
}

.textprof{
    color: rgb(163, 165, 167);
}

.sep{
    margin-left: 1rem;
    margin-right: 2rem;
}


.projetosbox{
    height: 22vh;
    border-radius: 10%;
}

#tituloProjetos{
    color: rgb(163, 165, 167);
    text-align: center;
}
.projetos{
  
    background-image: linear-gradient(#413b3b, #3d3636);
    
}

.boxProjetos{
    margin-top: 3rem;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    justify-content: center;
    
}
.fifth {
    border-color: #494443;
    
    color: #443f3b;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    margin-bottom: 4rem;
}
.fifth:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #444246;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
}
.fifth:hover {
    color: #fff;
}
.fifth:hover:after {
    width: 110%;
}
#imggitbutton{
    height: 3vh;
}

.botao{
    display: flex;
    justify-content: center;
}
  


.iconfoot{
    height: 7vh;
    border-radius: 50%;
}

.iconfoot:hover{
    height: 8vh;
    opacity: 0.8;
    box-shadow: 5px -7px 5px  rgb(29, 29, 29)
}

.foot{
    background-color: #413b3b;
    height: 25vh;
}
.tituloContato{
    display: flex;
    justify-content: center;
}

.icons{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 25px;

}

.hand{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.projetosbox:hover{
    opacity:0.9;
    box-shadow: 8px -10px 8px rgb(29, 29, 29);
    height: 23.5vh;
}

#handcraft{
    margin-top: 2rem;
}




@media(max-width: 1200px){
    .projetosbox{
        height:20vh;
    }
    .projetosbox:hover{
        height: 21vh;
    }
}

@media(max-width: 960px){
    .titulo{
        font-size:70px ;
    }
    .projetosbox:hover{
        height: 19vh;
    }
}
@media(max-width:768px){
    .titulo{
       font-size: 60px ; 
    }
    .boxProjetos{
        gap: 10px;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 200px);
    }
    .foot{
        height: 22vh;
    }
    .projetosbox:hover{
        height: 22vh;
    }
}


@media(max-width:425px){
    .painel1{
        width: 100%;
    }
    .titulo{
        font-size: 35px;
    }
    #icon{
        height: 35vh;
    }
    .boxProjetos{
        gap: 10px;
        grid-template-columns: repeat(3, 110px);
        grid-template-rows: repeat(3, 110px);
    }
    .projetosbox{
        height: 12vh;
    }
    #titleprof{
        font-size: 30px;
    }
    .textprof{
        font-size: 14px;
    }
    #foto{
        height: 15vh;
        margin-left: 1rem;
    }
    #tituloProjetos{
        font-size: 30px;
    }
    .iconfoot{
        height: 4.5vh;
    }
    #contactme{
        font-size: 23px;
    }
    .projetosbox:hover{
        height: 14vh;
    }
}

@media(max-width:375px){
    .titulo{
        font-size: 30px;
    }
    #textabout{
        font-size: 11px;
    }
    #foto{
        height: 10vh;
    }
    .textprof{
        font-size: 11px;
    }
    .projetosbox:hover{
        height: 14vh;
    }
    .projetosbox{
        height: 11vh;
    }
    .boxProjetos{
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }

}