header a{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: #a0a0a0;
  padding-left: 2rem;

}
header a:after{
  content: "";
  position: absolute;
  background-color: #2175ad;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}

header a:hover:after{
  width: 100%;
}

html{
  scroll-behavior: smooth;
}
.nav-link{
  text-decoration: none !important;
  
}


.header{
  display: flex;
  justify-items: center;
  justify-content: center;
  background-color: #463d3d;
}
#navscroll{
  background-color:#463d3d !important;

}
body{
  background-color: #5c5151;
  background-image: linear-gradient(#463d3d, #5c5151);;
  background-repeat: no-repeat;
}