
header a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #a0a0a0;
    padding-left: 2rem;

}
header a:after{
    content: "";
    position: absolute;
    background-color: #2175ad;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

header a:hover:after{
    width: 100%;
}

html{
    scroll-behavior: smooth;
}


.header{
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: #5c5151;
}
#navscroll{
    background-color:#5c5151 !important;

}

.painel1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #5c5151;
    background-size: cover;
    height: 94vh
}
 
.titulo{
    font-size: 80px;
    color: rgb(163, 165, 167);
}
.devtitulo{
    color:rgb(163, 165, 167);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.setaanimada{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.seta{
    height: 5vh;
}

.botaolearn{
    margin-top: 5rem;
    color: rgb(163, 165, 167);;
}
.nav-item{
    background-color: #5c5151;
}

#icon{
    height: 40vh;
    border-radius: 100%;
}
.painel2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:#474141 ;
}

#foto{
    margin-top: 4rem;
    margin-left: 0rem;
    height: 15vh;
    border-radius: 100%;
    box-shadow: -15px -10px rgb(54, 54, 54);
}

