
header a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #a0a0a0;
    padding-left: 2rem;

}
header a:after{
    content: "";
    position: absolute;
    background-color: #2175ad;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

header a:hover:after{
    width: 100%;
}


.header{
    display: flex;
    justify-items: center;
    justify-content: center;
    
    

}

.intro{
    background-image: url(assets/Wallwhite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:calc(100vh - 10vh);
   
}

.textintro{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tittleHello{
    margin-top: 3rem;
}