
header a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #a0a0a0;
    padding-left: 2rem;

}
header a:after{
    content: "";
    position: absolute;
    background-color: #2175ad;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

header a:hover:after{
    width: 100%;
}


.header{
    display: flex;
    justify-items: center;
    justify-content: center;
    
    

}

.intro{
    background-image: url(assets/Wallwhite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:calc(100vh - 10vh);
   
}

.textintro{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.about{
    margin-top: 2rem;
}


#linguagens{
    font-size: 15px;
}

#villaimg{
    height: 40vh;
    border-radius: 5%;
    
}
.seta{
    height: 5vh;
    animation: setinha 1s ease alternate infinite;
}
@keyframes setinha{
    to{
        transform: translateY(30px);
    }
    
}

.setascroll{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.tittleHello{
    margin-top: 3rem;
}
.tituloContato{
    font-size: 30px;
}
.contato{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
#imgwhats{
    height:10vh;
    border-radius: 15%;
}
.projetos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
#imginsta{
    height: 10vh;
    border-radius: 15%;
}


#imggit{
    height:10vh;
    border-radius: 15%;
}

#imgemail{
    height: 10vh;
    border-radius: 15%;
}

#imglinkedin{
    height: 10vh;
    border-radius: 15%;
}

.botoesContato{
    display: flex;
    gap: 1rem;
}
